// - - - - - - - - - - IMPORTS - - - - - - - - - - //
@import 'variables/variables.scss';
@import 'mixins/mixins.scss';

// - - - - - - - - - - APP - - - - - - - - - - //

* {
  font-family: lato;
}

body{
  height: 100%;
  width: 100%;
  background-color: $color-background;
}

#app {

}

#weather {
  @include center('x');
  z-index: 5;
  margin-top: 50px;
  height: 475px;
  width: 325px;
  background-color: $color-text;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 25px 2px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    0px 5px 25px 2px rgba(50, 50, 50, 0.35);
  box-shadow:         0px 5px 25px 2px rgba(50, 50, 50, 0.35);
}

// - - - - - - - - - - NAV - - - - - - - - - - //

nav {
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 60px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;

    h3 {
        text-decoration: none;
        display: block;
        font-weight: 400;
        color: $color-text;
        text-align: center;
        padding: 0px 100px;
    }

    .form-wrapper {
      width: 325px;
      height: 60px;
      @include center('x');

      form {
        padding-top: 15px;
        width: 325px;
        input {
          font-size: 20px;
          color: rgb(51, 51, 51);
          border: none;
        }

        textarea:focus, input:focus{
          outline: none;
        }
      }
    }

    .border {
      border-bottom: 2px solid $color-text;
    }
  }

}

// - - - - - - - - - - SPIN - - - - - - - - - - //

#foo {
  padding-top: 235px;
  color: white;
  @include center('x');
}

// - - - - - - - - - - - - - CONTENT - - - - - - - - - - - - - //

// - - - - - - - - - - Wrapper - - - - - - - - - - //

#content-wrapper {

  margin-top: 60px;
  height: 100%;
  width: 100%;
}

// - - - - - - - - - - VISUAL - - - - - - - - - - //

.visual {
  padding: 0;
  margin-top: 0;
  width: 100%;
  height: 300px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;

  .img{
    height: 130px;
    width: 275px;
    margin-left: 20px;
    color: #626262;
    top: 25px;

    img {
      padding-top: 15px;
    }
  }

  .text {
    position: absolute;
    bottom: 0px;
    p {
      padding: 20px;
      padding-top: 50px;
      color: $color-sec ;
      font-size: 38px;
      margin: 0;
    }
  }
}

.color {
  color: $color-text;
}

// - - - - - - - - - - STATISTIC - - - - - - - - - - //

.statistic {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 175px;

  .location-info {
    text-align: center;
    width: 100%;

    h3 {
      font-size: 22px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 5px;
      margin-bottom: 0px;
      margin-top: 25px;
    }

    p {
      font-size: 11px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 3px;
      margin-top: 10px;
    }
  }

  .weather-info {

    h3 {
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 10px;
      margin-bottom: 0px;
      margin-top: 35px;

      .now {
        font-size: 28px;
        text-transform: uppercase;
        color: white;
        padding-left: 25px;
        padding-right: 22px;
      }
    }
  }
}

// - - - - - - - - - - Transition - - - - - - - - - - //

/*
.fade-transition {
  transition: all .5s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}
*/

// - - - - - - - - - - MEDIA - - - - - - - - - - //

@media (max-width: 780px) {

  #weather {
    margin-top: 15px;
  }

  nav {
    h3 {
      display: none;
      visibility: hidden;
    }
  }
}
