// - - - - - - - - - - VARIABLES - - - - - - - - - -
$color-background: #f3f2f1;
$color-main: rgba(45, 99, 170, 0.9);
$color-sec: rgba(#adadad, 1);
$color-text: rgb(30, 131, 224);
$color-day: #eee;
$color-night: #eee;
